
#kc-content-wrapper {
    padding-bottom: 100px;
}

.content {
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.5;
}

/*.section {*/
/*padding-top: 150px;*/
/*}*/


@media only screen and (max-width: 768px) {

    .has-rounded-border {
        border-radius: 0px;
    }

    .column {
        padding: 0rem;

    }

    .m-4 {
        margin: 0.2rem;
    }

    .p-4 {
        padding: 0.2rem;
    }

    .section {
        padding: 2.5rem 0rem 0rem;
    }


    #kc-content-wrapper {
        padding-bottom: 30px;
        background-color: #2d3e50;
    }
}

#headline {
    padding-top: 150px;
    display: flex;
    justify-content: center;
    font-size: 3.2em;
    font-weight: 600;
}

td {
    color: white;
    font-size: 1.5em;
}

.header {
    overflow: hidden;
    padding-top: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header h1 {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 3.4em;
    font-weight: 600;
}

.header .logo {
    height: 125px;
    width: auto;
}

.header-right {
    float: right;
}

.buttons-area {
    display: flex;
    flex-direction: column;
}

.status-view {
    flex-direction: row;
}

.description {
    float: left;
    font-size: 1.3em;
    font-weight: 600;
}

.buttons {
    float: right;
}

@media screen and (max-width: 450px) {

    .description {
        float: left;
        font-size: 1.0em;
        font-weight: 600;
    }

    .status-view {
        padding-top: 10px;
    }
}

@media screen and (max-width: 500px) {

    .header {
        flex-direction: column;
    }
}