<tr class="main-alert">
    <td align="center"
        bgcolor="$ALERT_COLOR" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; border-top-left-radius: 3px; border-top-right-radius: 3px; font-size: 21px; font-weight:600; line-height: 1.3; overflow: hidden; color: #ffffff; padding: 20px;">
        <table border="0" cellpadding="0" cellspacing="0" class="img"
               style="border-collapse: collapse; margin: 0 auto;">
            <tbody>
            <tr>
                <td align="center" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #ffffff;"
                    valign="middle">
                    <span>
                    $ALERT_MESSAGE <b>$REPO_NAME</b>
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
    </td>
</tr>
