<tr class="section">
    <td style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; line-height: 1.4; overflow: hidden; padding: 0 15px;" align="center">
        <table class="img" style="border-collapse: collapse; width: 100%;" cellspacing="0" cellpadding="0" border="0">
            <tbody>
            <tr style="width: 100%;">
                <td style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 15px; line-height: 1.4; color: #8c8c8c; font-weight: 300; margin: 0; padding: 14px 0;" align="center">
                    <p>This test mail was sent by Swobup to test the mail functionality.
                    </p>
                    <p>
                    You receive this email because you or a member of nfdi4plants has triggered the sending
                    to your mail account.
                        </p>
<!--                    <p>-->
<!--                      Please report the receipt of this mail into the general Slack channel of nfdi4plants.-->
<!--                    </p>-->
                </td>
            </tr>
            </tbody>
        </table>
    </td>
</tr>
