<tr class="section">
    <td style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; line-height: 1.4; overflow: hidden; padding: 0 15px;" align="center">
        <table class="img" style="border-collapse: collapse; width: 100%;" cellspacing="0" cellpadding="0" border="0">
            <tbody>
            <tr style="width: 100%;">
                <td style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 15px; line-height: 1.4; color: #8c8c8c; font-weight: 300; margin: 0; padding: 14px 0;" align="center">
                    This report was generated, because an user made the changes below to the respective repository.
                    <p>
                        The <a href="$COMMIT_URL" target="_blank" rel="noopener noreferrer" style="color: #3777b0; text-decoration: none;">changes</a>
                        can be reviewed at Github.
                    </p>
                    <p>
                        You can revert the changes by executing the following command in your local git repository:
                    </p>
                    <p style="font-weight:800">git revert $COMMIT_HASH</p>
                </td>
            </tr>
            </tbody>
        </table>
    </td>
</tr>